html,
body {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-gray-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-weight: 500;
  font-family: var(--font-amatic);
}

p,
button,
a,
label,
input {
  color: currentColor;
  font-family: var(--font-roboto);
}

button,
a {
  @apply transition-all;
  /* transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: theme(transitionTimingFunction.DEFAULT);
  transition-duration: theme(transitionDuration.DEFAULT); */
}

strong,
b {
  font-weight: 700;
}

.dark {
  color: var(--color-white);
  --color-accent: var(--color-white);
  --color-accent-text: var(--color-gray-dark);
}

.light {
  color: var(--color-gray-dark);
  --color-accent: var(--color-gray-dark);
  --color-accent-text: var(--color-white);
}

@keyframes enter-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::view-transition-group(root),
::view-transition-group(page) {
  z-index: 10;
}

::view-transition-group(root),
::view-transition-old(page) {
  animation: enter-animation 200ms ease-out reverse forwards;
  transform-origin: top center;
}

::view-transition-group(root),
::view-transition-new(page) {
  animation: enter-animation 200ms ease-in forwards;
  transform-origin: top center;
}