.footer {
  padding: 8rem 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h3 {
  color: var(--title-color);
  text-align: center;
}

.contactList {
  margin-top: 4rem;
}

.contactList a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactList a + a {
  margin-top: 1.6rem;
}

.contactList a svg {
  margin-right: 1.6rem;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  width: fit-content;
  cursor: pointer;
}

.back svg {
  transform: rotate(180deg);
  margin-left: 0.8rem;
}

.single {
  flex-direction: row-reverse;
}

.single svg {
  transform: rotate(90deg);
  margin-left: 0;
  margin-right: 0.8rem;
}
