@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full scroll-smooth;
}

body {
  @apply text-gray-dark bg-gray-light;
}

h1,
h2,
h3,
h4 {
  @apply font-bold font-amatic;
}

.post {
  @apply transition-[opacity,filter] duration-300 ease-out;
}

.post.show {
  order: 0;
}

.post.hide {
  order: 1;
  @apply opacity-75 grayscale;
}

@layer components {
  .container {
    @apply w-[90%] max-w-[75rem] mx-auto;
  }
}

@layer utilities {
  .transition-transform,
  .transition-opacity,
  .transition-colors,
  .transition-all {
    @apply duration-500 ease-out;
  }

  .animation-content {
    @apply opacity-0 translate-y-16;
  }

  .animation-content.opacity-only {
    @apply !transform-none;
  }

  .animation-visible .animation-content {
    @apply opacity-100 transform-none;
    @apply transition-[opacity,transform] duration-1000;
    transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
  }
}
