:root {
  font-size: 60%;

  --text-color: #333;
  --title-color: #b40f20;
  --title-color-on-dark: #fff;
  --hover-color: #b40f20;
  --background-color: #c9c9d1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  font-size: 100%;
  height: 100vh;
}

#__next {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

body,
input,
button,
textarea {
  font: 300 1.6rem "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  color: var(--text-color);
}

picture {
  display: contents;
}

picture source {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
}

p {
  font-size: 1.6rem;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: "Amatic SC", cursive;
  line-height: 1;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

@media (min-width: 1000px) {
  :root {
    font-size: 62.5%;
  }
}

@media (min-width: 1400px) {
  :root {
    font-size: 65%;
  }
}
