@utility container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 100%;

  @media (width >= theme(--breakpoint-md)) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
    max-width: 75rem;
  }
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}