.container {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.background img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: bottom;
}

.hero {
  position: absolute;
  left: 3.2rem;
  top: 2.4rem;
  z-index: 1;
  font-size: 12rem;
  line-height: 1.2;
  color: var(--title-color-on-dark);
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 1.6rem;
  transform: translateX(-50%);
  color: var(--title-color-on-dark);
  font-weight: bold;
}

.more svg {
  transition: transform 0.3s ease-out;
  transform: translateY(-0.6rem);
}

.more:hover {
  color: var(--title-color-on-dark);
}
.more:hover svg {
  transform: translateY(0);
}

.more p {
  transform: translateX(0.4rem);
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

@media (max-width: 1000px) {
  .more {
    bottom: 0.8rem;
  }
}
