.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
  height: 16rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item::after {
  position: absolute;
  content: " ";
  background: #000;
  opacity: 0.2;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
}

.item:hover::after {
  opacity: 0.6;
}

.item h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--title-color-on-dark);
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.thumbnail img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template: auto / 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .container {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
  }
}
